.st1-section{
    background-color: cadetblue;
    width: 100%;
    height: 300px;
    text-align: center;
    ruby-align: center;
}

.st2-section{
    
    background-color: rgb(140, 182, 112);
    width: 100px;
}

.dialog-box{
    text-align: center;
    font-size: xx-large;
    background-color: aquamarine;
    border: solid rgb(216, 43, 173) 5px;
    border-radius: 30px;
}

.register-field{
    text-align: center;
}